<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>注册</title>
{{template "inc/meta.tpl" .}}
</head>
<body>
<div class="container">
  <form class="form-signin" id="diss-form">
    <h2 class="form-signin-heading">来吐个槽~</h2>

    <label for="content" class="sr-only">Username</label>
    <input type="text" name="content" class="form-control" placeholder="有什么想喷的呢~" required autofocus>

    <div class="checkbox">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Diss</button>
  </form>
</div>
{{template "inc/foot.tpl" .}}
</body>
</html>
