<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>转发吐槽</title>
{{template "inc/meta.tpl" .}}
</head>
<body>
<div class="container">
  <form class="form-signin" id="dissRep-form">
    <h2 class="form-signin-heading">转发吐槽~</h2>

    <label for="dissID" class="sr-only">Username</label>
    <input type="text" name="dissID" class="form-control" placeholder="你想转发的吐槽ID~" required autofocus>

    <label for="report" class="sr-only">Username</label>
    <input type="text" name="report" class="form-control" placeholder="有什么想喷的呢~" required autofocus>

    <div class="checkbox">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Report</button>
  </form>
</div>
{{template "inc/foot.tpl" .}}
</body>
</html>
